# MySQLサーバーの設定
[mysqld]
character_set_server = utf8mb4

# デフォルトの照合順序を`utf8mb4_0900_ai_ci`から`utf8mb4_general_ci`に設定
collation_server = utf8mb4_general_ci

# show variables like 'collation_server'\G で確認できる

# MySQLクライアントの設定
[client]
default-character-set = utf8mb4

# MySQLコマンドラインクライアントの設定
[mysql]
default-character-set = utf8mb4

# show variables like '%char%';で確認できる
